header.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: no-repeat bottom/contain;
  color: $white;

  &>.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 768px;
    padding: 96px 0;

    @media (min-width: $grid-sm-breakpoint) {
      min-height: 100vh;
    }

    .title {
      text-align: center;

      .inner {
        display: inline-block;
        text-align: left;

        @media (max-width: $grid-sm-breakpoint - 1px) {
          text-align: center;
        }
      }
    }

    .image-aside {
      @media (max-width: $grid-sm-breakpoint - 1px) {
        order: 1;
      }

      img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: auto;
      }
    }
  }

  &>img.header-divider {
    min-width: 100%;
    min-height: 64px;
  }

  font-size: 2rem;
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2.5rem;
  }
  h5 {
    font-size: 2rem;
  }
  h6 {
    font-size: 1.7rem;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1.25;
  }
}
