header.header {
  display: flex;
  align-items: center;
  background: no-repeat bottom/cover;
  background-image: url(/assets/home_bg.png);
  color: $white;
  min-height: 768px;

  @media (min-width: $grid-sm-breakpoint) {
    min-height: 100vh;
  }

  &>.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      text-align: center;

      .inner {
        display: inline-block;
        text-align: left;

        @media (max-width: $grid-sm-breakpoint - 1px) {
          text-align: center;
        }
      }
    }

    .image-aside {
      @media (max-width: $grid-sm-breakpoint - 1px) {
        order: 1;
      }

      img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: auto;
      }
    }
  }

  font-size: 2rem;
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2.5rem;
  }
  h5 {
    font-size: 2rem;
  }
  h6 {
    font-size: 1.7rem;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0;
  }
}

.devx-header-x {
  color: $color-accent;
}
