section.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: no-repeat bottom/contain;

  &.large {
    &>.section-container {
      &>.container {
        min-height: 768px;

        @media (min-width: $grid-sm-breakpoint) {
          min-height: 100vh;
        }
      }
    }
  }


  &>.section-container {
    width: 100%;

    &>.container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 32px 0;

      &.column {
        flex-direction: column;
      }


      .head {
        display: inline-block;

        .title {
          text-align: center;

          &:after {
            display: block;
            content: "";
            bottom: 0;
            margin: auto;
            height: 6px;
            width: 96px;
            border-radius: 2px;
            background-color: $color-primary;
          }

          margin-bottom: 0.5em;
        }
      }

      .blurb {
        text-align: center;

        .inner {
          display: inline-block;
          max-width: 20em;
          text-align: center;

          p {
            max-width: 24em;
          }
        }
      }

      .image-aside {
        @media (max-width: $grid-md-breakpoint - 1px) {
          order: 1;
        }

        img {
          display: block;
          max-width: 100%;
          max-height: 384px;
          height: auto;
          margin: auto;

          @media (max-width: $grid-md-breakpoint - 1px) {
            max-height: 256px;
          }
        }
      }
    }
  }

  &>img.section-divider {
    min-width: 100%;
    min-height: 64px;
  }
}
