section.section {
  display: flex;
  align-items: center;
  background: no-repeat bottom/cover;
  min-height: 768px;

  @media (min-width: $grid-sm-breakpoint) {
    min-height: 100vh;
  }

  &>.section-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .head {
      display: inline-block;

      .title {
        &:after {
          display: block;
          content: "";
          bottom: 0;
          margin: auto;
          height: 4px;
          width: 96px;
          border-radius: 2px;
          background-color: $color-primary;
        }

        margin-bottom: 0.5em;
      }
    }

    .blurb {
      max-width: 30em;
      margin: auto;
    }

    .image-aside {
      @media (max-width: $grid-md-breakpoint - 1px) {
        order: 1;
      }

      img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: auto;

        @media (max-width: $grid-md-breakpoint - 1px) {
          max-height: 256px;
        }
      }
    }
  }
}
