section.section {
  display: flex;
  align-items: center;
  min-height: 768px;

  &>.section-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .title {

    }

    .blurb {
      max-width: 30em;
      margin: auto;
    }

    .image-aside {
      @media (max-width: $grid-md-breakpoint - 1px) {
        order: 1;
      }

      img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: auto;
      }
    }
  }
}
