nav {
  position: fixed;
  z-index: 64;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,.24), 0px 1px 4px 0px rgba(0,0,0,.11);
  background-color: rgba($white, 0.96);

  .navbar {
    display: flex;
    height: $navbar-height;
    justify-content: space-between;
    align-items: center;

    .left, .right {
      display: flex;

      .item {
        margin-right: 16px;

        &:last-child {
          margin-right: inherit;
        }
      }
    }
  }
}

.nav-spacer {
  height: $navbar-height;
}
