nav {
  position: fixed;
  z-index: 64;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,.24), 0px 1px 4px 0px rgba(0,0,0,.11);
  background-color: rgba($white, 0.96);
  overflow: hidden;

  .navbar {
    display: flex;
    height: $navbar-height;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;

    .left, .right {
      display: flex;
      padding: 8px;

      .logo {
        display: flex;
        align-items: center;
        justify-content: space-around;

        a {
          display: flex;
          align-items: center;
          justify-content: space-around;

          img {
            height: $navbar-height - 16px;
          }

          .logotext {
            padding-top: 6px;
            margin: 0 16px;
            display: inline-block;
            font-family: $typography-header-font;
            font-weight: 600;
            font-size: 1.5rem;
            line-height: 1;
            transition: 0.125s cubic-bezier(0.4, 0, 0.2, 1);
          }
        }

        &:hover {
          .logotext {
            color: $color-accent;
          }
        }
      }

      .item {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.85rem;
        letter-spacing: 3px;
        margin-right: 16px;
        transition: 0.125s cubic-bezier(0.4, 0, 0.2, 1);

        @media (min-width: $grid-sm-breakpoint) {
          margin-right: 32px;
        }

        @media (min-width: $grid-md-breakpoint) {
          margin-right: 42px;
        }

        &:last-child {
          margin-right: inherit;
        }

        &:hover {
          color: $color-accent;
        }
      }
    }

    .apply-text {
      color: $color-accent;
    }
  }
}

.nav-spacer {
  height: $navbar-height;
}
