.person-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 16px;
  font-size: 0.8em;
  font-weight: 300;

  p {
    font-size: 0.9em;
  }

  &>.profile-picture {
    object-fit: cover;
    width: 192px;
    height: 192px;
    max-height: 192px;
    max-width: 100%;
  }
}
