button.button {
  padding: $button-padding $button-padding-h;
  min-width: $button-min-width;
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-text-light;
  background-color: $color-primary;
  text-align: center;
  transition: 0.125s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  margin: 4px;

  &:hover {
    background-color: lighten($color-primary, 5%);
  }

  &:active {
    background-color: lighten($color-primary, 5%);
  }

  &:focus {
    outline: none;
  }
}
