$color-text-dark: #333332 !default;
$color-text-light: #FCFBFA !default;
$color-accent: #FACC2C !default;
$color-primary: #FA682E !default;
$color-secondary: #2E7BFA !default;
$white: #FFFFFF !default;
