@import "var";
@import "color";
@import "normalize";
@import "typography";
@import "grid/style";
@import "navbar/style";
@import "header/style";
@import "footer/style";
@import "section/style";
@import "title/style";
@import "button/style";
@import "faicon/style";
@import "person/style";

body {
  background: fixed linear-gradient(135deg, #4A5267, #000120);
}

.devx-x {
  color: $color-accent;
}
