*, *:before, *:after {
  box-sizing: border-box;
  margin:     0;
  padding:    0;
}

html, body {
  margin:  0;
  padding: 0;
}

input, button, submit {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  border:             none;
  font-family:        inherit;
}

textarea, input {
  font-family: inherit;
}

a.no-style {
  color:           inherit;
  text-decoration: inherit;
}

a:hover {
  cursor: pointer;
  color:  $color-accent;
}

.text-center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

a.underline {
  text-decoration: underline;
}
