html, body {
  font-size: $typography-base-size;
  font-family: $typography-base-font;
  line-height: 1.5;
  letter-spacing: normal;
  font-weight: 400;

  @media (min-width: $grid-sm-breakpoint) {
    font-size: $typography-base-size * 10 / 8;
  }

  @media (min-width: $grid-md-breakpoint) {
    font-size: $typography-base-size * 11 / 8;
  }

  @media (min-width: $grid-lg-breakpoint) {
    font-size: $typography-base-size * 12 / 8;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $typography-header-font;
    margin: 0.5em 0 0.25em;
    font-weight: 600;

    small {
      font-size: 0.5em;
    }
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.85rem;
  }
  small {
    font-size: 0.85rem;
  }

  p {
    margin: 0 0 1em 0;
    max-width: 42em;

    &:last-child {
      margin: 0;
    }
  }
}
