$grid-sm-breakpoint: 768px !default;
$grid-md-breakpoint: $grid-sm-breakpoint * 1.5 !default;
$grid-lg-breakpoint: $grid-md-breakpoint * 1.5 !default;

$grid-vertical-padding: 8px !default;
$grid-gutter-padding: 8px !default;

$navbar-height: 64px !default;

$typography-base-size: 14px !default;
$typography-base-font: 'Lato', sans-serif !default;

$button-padding: 8px !default;
$button-padding-h: 16px !default;
$button-min-width: 48px !default;
