$grid-sm-breakpoint: 768px !default;
$grid-md-breakpoint: $grid-sm-breakpoint * 1.5 !default;
$grid-lg-breakpoint: $grid-md-breakpoint * 1.5 !default;

$grid-vertical-padding: 8px !default;
$grid-gutter-padding: 8px !default;

$navbar-height: 64px !default;
