@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600|Open+Sans:400,400i,700');

$grid-sm-breakpoint: 768px !default;
$grid-md-breakpoint: $grid-sm-breakpoint * 1.5 !default;
$grid-lg-breakpoint: $grid-md-breakpoint * 1.5 !default;
$container-constrained: 1024px;

$grid-vertical-padding: 8px !default;
$grid-gutter-padding: 8px !default;

$navbar-height: 72px !default;

$typography-base-size: 14px !default;
$typography-base-font: 'Open Sans', sans-serif !default;
$typography-header-font: 'Josefin Sans', sans-serif !default;

$button-padding: 8px !default;
$button-padding-h: 16px !default;
$button-min-width: 48px !default;
