footer.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: no-repeat bottom/contain;
  color: $white;

  &>.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 2rem;
    h1 {
      font-size: 6rem;
    }
    h2 {
      font-size: 4rem;
    }
    h3 {
      font-size: 3rem;
    }
    h4 {
      font-size: 2.5rem;
    }
    h5 {
      font-size: 2rem;
    }
    h6 {
      font-size: 1.7rem;
    }

    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }

    .info {
      text-align: center;
      padding: 64px;

      .icons {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  img.moon {
    width: 100%;
  }
}
